*/coverage
**/node_modules/
.DS_Store
*/build
*/.DS_Store
*/.env.local
*/.env.development.local
*/.env.test.local
*/.env.production.local
*/npm-debug.log*
Thumbs.db
*.log
*.log.*
npm-debug.log*
test/
.vscode/
.idea/
*.code-workspace
.cache/
.coverage
.out/
dist/
build/
node_modules/
.cache-loader/
